fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
PyJWT
httpx
chromadb
huggingface-hub
transformers
torch
bitsandbytes
numpy
pydantic-extra-types
email-validator
aiofiles
bcrypt
streamlit
chromadb
sentence-transformers
pyngrok
pypdf
langchain
langchain-text-splitters
gtts
openai-whisper
pydub